./node_modules
./node_modules/victory-vendor/node_modules
./node_modules/react-redux/node_modules
./node_modules/babel-plugin-macros/node_modules
./node_modules/babel-plugin-macros/node_modules/resolve/test/shadowed_core/node_modules
./node_modules/babel-plugin-macros/node_modules/resolve/test/resolver/symlinked/_/node_modules
./node_modules/resolve/test/shadowed_core/node_modules
./node_modules/resolve/test/resolver/symlinked/_/node_modules
./node_modules/@eslint/eslintrc/node_modules
./node_modules/express/node_modules
./node_modules/basic-auth/node_modules
./node_modules/string_decoder/node_modules
./node_modules/socket.io-adapter/node_modules
./node_modules/tsconfig/node_modules
./node_modules/chokidar/node_modules
./node_modules/ts-node-dev/node_modules
./node_modules/ts-node-dev/node_modules/resolve/test/shadowed_core/node_modules
./node_modules/ts-node-dev/node_modules/resolve/test/resolver/symlinked/_/node_modules
./node_modules/@humanwhocodes/config-array/node_modules
./node_modules/@cspotcode/source-map-support/node_modules
./node_modules/multer/node_modules
./node_modules/chalk/node_modules
./node_modules/@mui/utils/node_modules
./node_modules/@mui/material/node_modules
./node_modules/socket.io/node_modules
./node_modules/body-parser/node_modules
./node_modules/@babel/core/node_modules
./node_modules/@babel/helper-compilation-targets/node_modules
./node_modules/eslint/node_modules
./node_modules/glob/node_modules
./node_modules/socket.io-parser/node_modules
./node_modules/cookie-parser/node_modules
./node_modules/engine.io/node_modules
./node_modules/morgan/node_modules
./node_modules/eslint-plugin-react/node_modules
./node_modules/@emotion/babel-plugin/node_modules
./node_modules/fast-glob/node_modules
./node_modules/send/node_modules
./node_modules/send/node_modules/debug/node_modules
./node_modules/finalhandler/node_modules
./node_modules/recharts/node_modules
./node_modules/readable-stream/node_modules
./packages/client/node_modules
